@import "variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Raleway:400,500,500i,600,700&subset=latin-ext');

.tpl--container {
  overflow: hidden;
  background-image: url(../images/bg.svg);
}

.tpl--header {
  margin-bottom: 50px;
  height: 260px;
  background-image: url(../images/header.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.tpl--section {
  margin-bottom: 100px;

  .title-h1 {
    text-align: center;
    color: #fff;
  }

  .block-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -20px;


/*    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 350px;
    }
    &:before {
      background-color: @bg_green;
    }

    &:after {
      top: 0;
      left: 0;
      transform: translate(15%, 10%);
      background-color: @bg_dark;
    }*/

    .burger-wrap {
      position: relative;
      color: #fff;
      flex: 0 0 50%;
      padding: 0 20px 20px;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #4d4e50;
      }

      &:nth-child(even) {

      }

      .burger-name {
        font-size: 36px;
        font-weight: 400;
        color: #1fd46b;
        font-family: 'Lato', sans-serif;
      }

      .burger-composition {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;

        span {
          font-size: 18px;
          font-style: italic;
        }
      }

      .burger-add {
        width: 150px;
        margin: 24px 0 0 auto;
        cursor: pointer;
        background-color: @bg_dark_green;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &:nth-child(even) {
    .block-image {
      text-align: left;
    }
  }
}

.tpl--footer {
  height: 500px;
  background-image: url(../images/footer.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.btn-order { position: absolute; right: 5%; top: 30px;}

.block-navigation {

  .help-title {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 400;
    color: #1fd46b;
    font-family: 'Lato', sans-serif;
  }

  .help-block {
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
  }

  .form-group {
    select {
      display: block;
      width: 100%;
      min-height: 38px;
      background-color: #fff;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #464a4c;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
    }
  }
}

.our-orders {
  display: flex;

  .our-order-time {
    margin-left: 10px;
  }
}