html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: none;
}
.container-bg {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-image: url('../img/bg.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title { font-size: 36px; font-weight: bold; color: #000; text-align: center; }

.inputSearch { width: 300px; height: 36px; }